<!--<div th:replace="fragment/links::links"></div>-->
<div th:fragment="header">

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link " aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " aria-current="page" href="/">About</a>
    </li><li class="nav-item">
    <a class="nav-link " aria-current="page" href="/signin">Login</a>
  </li><li class="nav-item">
    <a class="nav-link " aria-current="page" href="/signup">Register</a>
  </li>

  </ul>

</div>