<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page </title>

    <div th:replace="fragment/links::links"> </div>

</head>
<body>
<div th:replace="fragment/header::header"></div>



<div class="border-container">
<th:block th:if="${session.message}">
    <p class="text-center text-success fs-4">[[${session.message}]]</p>
    <th:block th:text="${@userServiceImp.removeSessionMessage()}"></th:block>

</th:block>
    <div class="login-form text-center">
        <form id="loginForm" method="post" action="saveUser">


            <div class="text-bg-info text-center"> Please register Here !</div>
            <div class="form-group">
                <label for="name">First Name </label>
                <input type="text" class="form-control" id="name" name="first_name" placeholder="Enter your First Name" required>
            </div>
            <div class="form-group">
                <label for="lname">Last Name </label>
                <input type="text" class="form-control" id="lname" name="last_name" placeholder="Enter your Last Name" required>
            </div>
            <div class="form-group">
                <label for="email">Email </label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number </label>
                <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your Phone" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Your Password" required>
<!--                <small class="form-text text-muted"><a href="#" id="showPassword">Show Password</a></small>-->
            </div>
            <button type="submit" class="btn btn-primary btn-block">register</button>
<!--            <div class="mt-2 text-center">-->
<!--                <small>Don't have an account? <a href="#">Sign Up</a></small>-->
<!--            </div>-->
        </form>
    </div>
</div>
</body>
</html>